.App {
  text-align: center;
  background-color: #61dafb;
  height: 100vh;
}

.btn {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 0px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}
